:root {
  --primary-1: #1479ff;
  --primary-2: #14a5ff;
  --primary-3: #37dbe6;

  --primary-background: #fff;
  --secondary-background-1: #f8fbff;
  --secondary-background-2: #e6f1ff;

  --hover-overlay: rgba(0, 0, 0, 0.05);
  --primary-shadow: #147aff93;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);

  --primary-icon: #193b68;
  --primary-text: #193b68;

  --secondary-icon: #8591a1;
  --secondary-text: #8591a1;

  --black: #000;
  --white: #fff;

  --navBar-height: 60px;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.34;
  background-color: var(--secondary-background-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
  font-size: 16px;
}
input,
button,
textarea {
  outline: none;
}
button {
  cursor: pointer;
}
svg {
  fill: var(--primary-icon);
  stroke: var(--primary-icon);
}
button:disabled {
  color: var(--white);
  background-color: var(--shadow-5);
  cursor: not-allowed;
}
button:disabled:hover {
  color: var(--white);
  background-color: var(--shadow-5);
  cursor: not-allowed;
}
