.news-container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: var(--primary-background);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 2px 15px var(--shadow-2);
  border: 2px solid var(--primary-3);
  text-align: left;
  align-items: flex-start;
}
.result-container {
  align-items: flex-start;
}
.search-result-container {
  flex: 3;
  max-height: calc(100vh - var(--navBar-height));
  overflow: auto;
}
.search-result-container > h1 {
  margin: 10px;
  margin-left: 50px;
  font-size: 20px;
}
.mentors-container >h1 {
  margin: 10px;
  font-size: 20px;
}
.news-box > * {
  margin: 10px;
}
.news-container{
    position: relative;
}
.news-container .stamp{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--shadow-2);
}

.news-container img {
  width: 40%;
  margin: 10px;
  border-radius: 10px;
}
.news-container h1 {
  font-size: 25px;
  font-weight: 500;
}
.news-container p {
  font-weight: 500;
}
.news-container small {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text);
}
.news-container span {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text);
}
.category-result-card-container {
  flex: 2;
}
.category-card {
  flex-direction: column;
  width: 100%;
  height: 90vh;
  background-color: var(--secondary-background-1);
  border: 2px solid var(--primary-3);
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px var(--shadow-2);
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.category-card > img {
  width: 100%;
  margin-bottom: 20px;
}
.category-card h2 {
  margin: 10px 5px;
  font-size: 20px;
  margin-bottom: 0;
}
.category-card .progress {
  top: 120px;
  left: 80%;
  width: 100px;
  height: 100px;
}
.category-card .progress .progress-text {
  top: 45px;
  left: 75px;
  font-size: 14px;
}
.category-card .progress .progress-text p {
  font-size: 14px;
}
.category-card strong{
    color: var(--secondary-text);
    font-weight: 500;
    margin: 10px;
}
.category-card q{
    font-weight: 500;
    margin: 10px;
}
.mentors-container {
  flex: 1;
  padding: 10px;
}
.mentor-card {
  width: 95%;
  padding: 5px;
  background-color: var(--secondary-background-1);
  border: 2px solid var(--primary-3);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px var(--shadow-2);
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  justify-content: flex-start;
}
.mentor-card:hover {
  transform: scale(1.05);
  border: 2px solid var(--primary-1);
}
.mentor-card h1{
    font-weight: 500;
}
.mentor-card *{
    margin: 5px 0;
}
.mentor-card p{
   font-size: 14px;
}
.mentor-card img{
    width: 50px;
    border: 1px solid var(--primary-1);
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
    align-self: flex-start;
}
.mentor-card span{
    color: var(--secondary-text);
    font-size: 14px;
}