.nav-container {
  height: var(--navBar-height);
  background-color: var(--primary-background);
  justify-content: space-between;
  padding:0 50px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  box-shadow: 0px 0px 10px var(--shadow-5);
}
.logo-container img {
  height: 40px;
  cursor: pointer;
}
.login-button-container button{
    padding: 8px 15px;
    border: none;
    font-weight: 600;
    background-color:  var(--primary-1);
    color:  var(--white);
    border-radius: 4px;
    box-shadow: 0px 0px 10px var(--primary-shadow);
}
.nav-menu-container {
  flex: 1;
}
.nav-menu-container a{
  margin: 25px;
  font-weight: 500;
  color: var(--primary-1);
}
.login-button-container a{
  text-decoration: none;
  color: var(--primary-1);
  margin: 10px;
  margin-right: 20px;
  border: 1px solid var(--primary-1);
  padding: 5px 10px;
   border-radius: 4px;
}
.fill{
  background-color: var(--primary-1);
  color: var(--white)!important;
}