.home-container {
  min-height: calc(95vh - var(--navBar-height));
  background-color: var(--secondary-background-2);
}
.banner-box {
  height: 30vh;
  overflow: hidden;
  padding: 100px auto;
  background-color: var(--secondary-background-1);
  background-size: cover;
}
.banner-box >div {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
}
.banner-box img {
  height: 100%;
  box-shadow: 0px 0px 50px var(--shadow-8);
}
.main-search-container {
  flex-direction: column;
  margin: 20px;
}
.main-search-box {
  width: 55%;
  max-width: 700px;
  padding: 20px 30px;
  min-width: 350px;
  background-color: var(--secondary-background-1);
  box-shadow: 0px 0px 25px var(--shadow-2);
  border-radius: 15px;
  border: 2px solid var(--primary-3);
}
.main-search-box p {
  font-weight: 600;
  margin: 10px;
  font-size: 20px;
}
.main-search {
  width: 100%;
  border: 2px solid var(--primary-1);
  box-shadow: 0px 0px 5px var(--shadow-2);
  border-radius: 4px;
  
}
.main-search svg {
  width: 20px;
  margin-left: 10px;
  stroke: var(--primary-1);
}
.main-search input {
  flex: 1;
}
.main-search input,
.main-search button {
  border: none;
  padding: 10px;
  background-color: transparent;
}
.main-search button {
  background-color: var(--primary-1);
  border: 2px solid var(--primary-1);
  color: var(--white);
  font-size: 18px;
}
.search-tips {
  font-size: 20px;
  justify-content: flex-start;
  font-size: 16px;
  color: var(--secondary-text);
  font-weight: 600;
  flex-wrap: wrap;
}
.search-tips > p {
  font-size: 16px;
  color: var(--secondary-text);
  font-weight: 500;
}
.career-cards-container {
  flex-direction: column;
}
.career-cards-container > h2 {
  margin: 10px;
  font-size: 20px;
  position: relative;
}
.career-cards-container > h2::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: var(--primary-text);
  position: absolute;
  right: -60px;
  top: 50%;
  border-radius: 50px;
}
.career-cards-container > h2::before {
  content: "";
  width: 50px;
  height: 5px;
  background-color: var(--primary-text);
  position: absolute;
  left: -60px;
  top: 50%;
  border-radius: 50px;
}
.career-card {
  width: 180px;
  height: 270px;
  background-color: var(--secondary-background-1);
  border: 2px solid var(--primary-3);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px var(--shadow-2);
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
.career-card:hover {
  transform: scale(1.05);
  border: 2px solid var(--primary-1);
}
.career-card img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
}
.career-card small{
    position: relative;
    top: 10px;
    font-size: 12px;
}
.career-card span{
    font-size: 12px;
}
.career-card h2{
    font-size: 20px;
    font-weight: 500;
}
.career-card-stars{
    margin: 3px;
    margin-bottom: 0;
}
.career-card-stars svg{
    width: 15px;
    height: 15px;
    margin: 1px;
    fill: #F4CD1E;
}
.inactiveStar svg #Shape{
    fill: var(--secondary-icon);
}
/* ----------- */


.progress {
    position: relative;   
    height: 100px;
    width: 100px;
    cursor: pointer;
    top: 40%;
    left: 28%;
    margin: -80px 0 0 -80px;
}

.progress-circle {
  transform: rotate(-90deg);
	margin-top: -40px;
}

.progress-circle-back {
	fill: none; 
	stroke: #D2D2D2;
	stroke-width:10px;
}

.progress-circle-prog {
	fill: none; 
	stroke: #7E3451;
	stroke-width: 10px;  
	stroke-dasharray: 0 999;    
	stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
	position: absolute;
	top: 15px;
    left: 28px;
	text-align: center;
    font-size: 14px;
}